#account{
	background: #FFCC70;
	border: 3px solid darkred;
	border-radius: 10px;
    margin: 1%;
    margin-top: 100px;
    padding: 3%;
    display: block;
}
#accountpage{
    width: 100%;
}
.userpic{
    width: 20%;
    height: 20%;
}
.userinfo{
	margin-top: 1%;
}
#username, #useremail, #userscore, #usertitle, #emailtitle, #scoretitle{
	display: inline-block;
	width: 30%;
}
#prompt-pictureform-container{
    display: none;
    position: fixed;
    margin: 5%;
    margin-top: 110px;
    width: 90%;
    height: auto;
    text-align: center;
    background-color: white;
    font-size: large;
    padding: 40px;
}
#leaderboard{
	margin-right: 15%;
	position: relative;
}
#leaderboardtitle{
	position: relative;
	left: 60%;
} 
#lead2, #lead3, #lead4, #lead5{
	display: none;
}
#leaderboardcontent{
	width: 170%;
}
.leadchild{
	display: inline-block;
	width: 50%;
}
#main_h{
    top: 0;
}
#message{
    position: relative;
    margin-top: 100px;
}
#message-close-icon{
    cursor: pointer;
}
.bottom{
    position: relative;
}

@media screen and (max-width: 600px){
    #main_h{
        max-height: 100px;
        font-size: 12px;
    }
    .top h1 a, .top nav ul li a, .top nav ul li input{
        font-size: 16px;
    }
    .top nav ul li a{
        font-size: 16px;
    }
}

@media screen and (min-width: 600px){
    main *{
        font-size: 20px;
    }
    #account{
    	display: flex;
    }
    #accountpage{
    	width: 50%;
    }
    #prompt-pictureform-container{
    	width: 40vw;
    }
    .userpic{
        width: 7vw;
        height: 7vw;
    }
    #leaderboard{
        float: right;
        margin-right: 15%;
        position: relative;
    }
    #leaderboardcontent{
        width: 30vw;
    }
}