#img-for-auth {
	position: relative;
	width: 100%;
}

#message {
	display: none;
	background-color: lawngreen;
	border: 3px solid black;
	border-radius: 10px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#message-to-user {
	display: inline-block;
	text-align: center;
	color: black;
	font-size: x-large;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 80%;
}

#message-close-icon {
	position: relative;
	top: 5px;
	right: 5px;
	width: 2.5%;
	height: 2.5%;
	float: right;
}

#message-close-icon:hover {
	background-color: red;
	border: 3px solid black;
}

#forms {
	position: relative;
	left: 35%;
	top: 7px;
}

#prompt-signupform-container, #prompt-signinform-container {
	top: 50px;
	position: absolute;
	width: 423px;
	height: 590px;
	background-color: #1C1C1C;
	/*background-image: linear-gradient(to right, rgba(46, 70, 41, 0.5),rgba(70, 70, 70, 0.5),rgba(46, 70, 41, 0.5)), url('https://i.pinimg.com/564x/a2/f1/6d/a2f16df33fc51e18423ff469ef133e36.jpg');*/
	background-size: cover;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: center;
	font-size: x-large;
	z-index: 9900;
	display: none;
	padding: 40px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	color: rgb(240, 240, 240);
}

#signupform, #signinform {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

.form-prompt-msg {
	margin: 0;
	position: absolute;
	left: 35%;
	font-size: xx-large;
	text-transform: uppercase;
	text-decoration-line: underline;
	text-decoration-color: rgb(0, 200, 0);
	text-decoration-thickness: 4px;
}
.inputBox {
	display: block;
	text-align: start;
}

.inputBox input {
	width: 343px;
	padding: 10px 10px;
	font-weight: 400;
	outline: none;
	background-color: rgba(80, 97, 82, 0.5);
	border: 2px solid rgb(117, 138, 119);
	border-radius: 30px;
	color: #fff;
	font-size: large;
}

.inputBox input.field:focus {
	border: 2px solid rgb(72, 145, 79);
}

.inputBox input[type="checkbox"] {
	width: unset;
	margin: 0 0.5em 0 0.5em;
}

/* .inputBox input[type="checkbox"]:checked {
	background-color: green;
} */

.inputBox label[for="remember"] {
	font-size: large;
	font-weight: 600;
}
.inputBox input.log-button {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
	background-color: rgb(41, 100, 50);
}
.inputBox input.log-button:hover {
	background-color: rgb(0, 100, 15);
}

.inputBox input.log-button:active {
	border: 2px solid rgb(72, 145, 79);
}

.auth-hr {
	width: 100%;
	position: absolute;
	bottom: 50px;
	border-color: rgba(255, 255, 255, 0.5);
}
.lost-pass, .lost-pass:visited {
	position: absolute;
	text-align: center;
	background-color: unset;
	border-style: none;
	bottom: 0;
	font-size: large;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.lost-pass:hover {
	color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

span.eula {
	display: block;
	font-size: small;
	margin-top: 10px;
	margin-left: 10px;
}

span.eula a.eula {
	color: rgb(72, 145, 79);
}

span.eula a.eula:hover {
	color: rgb(0, 200, 0)
}

span.eula a.eula:active {
	color: rgb(102, 202, 112);
}

#cover-div {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	width: 100%;
	height: 100%;
	background-color: rgb(40, 40, 40);
	opacity: 0.5;
}
