@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

main {
  font-family: "Baloo 2", cursive;
	padding-top: 80px;
	display: block;
}

#hero-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5rem;
	margin: 2rem 0;
}

.dark {
  background: #110f16;
}

#hero a, #hero a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.quiz {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 3rem auto;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.quiz.dark {
  background-color: #18151f;
}

.quiz a {
  color: inherit;
}

.quiz i {
  font-style: normal;
}

.quiz h3 {
  /* margin-bottom: 0.5rem; */
  font-weight: 500;
  line-height: 1.2;
}
.quiz .small {
  font-size: 80%;
}

.quiz .quiz__subtitle {
  user-select: none;
}

.quiz .quiz__title {
  margin: 0;
  font-size: 1.75rem;
  user-select: none;
}

.quiz .quiz__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
  user-select: none;
}

.quiz .quiz__img-link {
  cursor: default;
  display: contents;
}

.quiz .quiz__bar {
  width: 60px;
  height: 4px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.quiz .quiz__text {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.quiz .quiz__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.quiz .quiz__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.quiz .quiz__tagbox .tagbox__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.quiz .quiz__tagbox .tagbox__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.quiz .quiz__tagbox .tagbox__item.play {
  cursor: pointer;
}

.quiz:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.quiz:hover .quiz__bar {
  width: 120px;
}

.quiz .quiz__tagbox .green.play {
  background: #478304;
  color: #ffffff;
}

.quiz .quiz__tagbox .green.play:hover {
  background: #3a6806;
}

/* .green .quiz__title:hover {
  color: #79dd09;
} */

.green .quiz__bar {
  background-color: #478304;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.quiz .quiz__tagbox .blue.play {
  background: #0076bd;
}

.quiz .quiz__tagbox .blue.play:hover {
  background: #0052bd;
}

/* .blue .quiz__title:hover {
  color: #0076bd;
} */

.blue .quiz__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.quiz .quiz__tagbox .red.play {
  background: #bd150b;
}

.quiz .quiz__tagbox .red.play:hover {
  background: #910000;
}

/* .red .quiz__title:hover {
  color: #bd150b;
} */

.red .quiz__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.quiz .quiz__tagbox .yellow.play {
  background: #797722;
}

.quiz .quiz__tagbox .yellow.play:hover {
  background: #64610d;
}

/* .yellow .quiz__title:hover {
  color: #bdbb49;
} */

.yellow .quiz__bar {
  background-color: #797722;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .quiz {
    flex-wrap: inherit;
    max-width: 800px;
  }

  .quiz .quiz__title {
    font-size: 2rem;
  }

  .quiz .quiz__tagbox {
    justify-content: start;
  }

  .quiz .quiz__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .quiz .quiz__text {
    padding: 3rem;
    width: 100%;
  }

  .quiz .media.quiz__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .quiz:hover .quiz__img {
    transform: scale(1.1);
  }

  .quiz:nth-child(2n+1) {
    flex-direction: row;
  }

  .quiz:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .quiz:nth-child(2n+1) .quiz__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .quiz:nth-child(2n+0) .quiz__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .quiz {
    flex-wrap: inherit;
    max-width: 1100px;
  }

  .quiz-text {
    padding: 2rem 3.5rem;
  }

  .quiz-text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .quiz.dark .quiz-text:before {
    background: #18151f;
  }

}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}