@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

$red: #bd150b;
$dif-red: #ff0d00;
$hover-red: #910000;
$transparent-red: rgba(189, 21, 11, 0.1);

$green: #478304;
$dif-green: #88ff00;
$hover-green: #3a6806;
$transparent-green: rgba(121, 221, 9, 0.1);

$blue: #0076bd;
$dif-blue: #009afa;
$hover-blue: #0052bd;
$transparent-blue: rgba(0, 118, 189, 0.1);

$yellow: #797722;
$dif-yellow: #fffb00;
$hover-yellow: #64610d;
$transparent-yellow: rgba(189, 187, 73, 0.1);

main {
    font-family: "Baloo 2", cursive;
	display: block;
}

#hero {
    position: relative;
	width: 100vw;
	height: 100%;

    .container {
        padding-top: 5rem;
    }

    #hero-title {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        margin: 0;
        margin-bottom: 2rem;
        color: #fff;
    }

    a, a:hover {
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }
}

.dark {
  background: #110f16;
}

.quiz {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 3rem auto;
    overflow: hidden;
    position: relative;
    color: #ffffff;

    &.dark {
        background-color: rgb(24, 21, 31, 0.95);
    }

    a {
        color: inherit;
    }

    i {
        font-style: normal;
    }

    h3 {
        font-weight: 500;
        line-height: 1.2;
    }

    .small {
        user-select: none;
        font-size: 80%;
    }

    .quiz__subtitle {
        margin: 0;
        font-style: 1.75em;
        user-select: none;
    }

    .quiz__title {
        margin: 0;
        font-style: 1.75em;
        font-size: 2em;
        user-select: none;
    }

    .quiz__img {
        min-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
        user-select: none;
    }

    .quiz__img-link {
        cursor: default;
        display: contents;
    }

    .quiz__bar {
        width: 80px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
    }

    .quiz__text {
        padding: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .quiz__preview-text {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }

    .quiz__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;

        .tagbox__item {
            display: inline-block;
            background: rgba(83, 83, 83, 0.4);
            border-radius: 3px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;
            font-weight: 600;

            &:hover {
                background: rgba(83, 83, 83, 0.8);
            }

            &.red:not(.play) {
                color: $dif-red;
            }

            &.green:not(.play) {
                color: $dif-green;
            }

            &.blue:not(.play) {
                color: $dif-blue;
            }

            &.yellow:not(.play) {
                color: $dif-yellow;
            }

            &.play {
                cursor: pointer;

                &.red {
                    background: $red;

                    &:hover {
                        background: $hover-red;
                    }
                }

                &.green {
                    background: $green;

                    &:hover {
                        background: $hover-green;
                    }
                }

                &.blue {
                    background: $blue;

                    &:hover {
                        background: $hover-blue;
                    }
                }

                &.yellow {
                    background: $yellow;

                    &:hover {
                        background: $hover-yellow;
                    }
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }

    &:hover {
        .quiz__bar {
            width: 160px;
        }
    }
}

@mixin color-palette($color, $transparent-color) {
    .quiz__bar {
        background-color: $color;
    }

    &::before {
        background-image: linear-gradient(-30deg, $transparent-color, transparent 50%);
    }

    &:nth-child(2n)::before {
        background-image: linear-gradient(30deg, $transparent-color, transparent 50%);
    }
}

.red { @include color-palette($red, $transparent-red); }
.green { @include color-palette($green, $transparent-green); }
.blue { @include color-palette($blue, $transparent-blue); }
.yellow { @include color-palette($yellow, $transparent-yellow); }

@mixin transparent-color-responsive($transparent-color) {
    &::before {
        background-image: linear-gradient(-80deg, $transparent-color, transparent 50%);
    }

    &:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $transparent-color, transparent 50%);
    }
}

@media screen and (min-width: 769px) {
    .quiz {
        flex-wrap: inherit;
        max-width: 800px;

        .quiz__title {
            font-size: 2rem;
        }

        .quiz__tagbox {
            justify-content: start;
        }

        .quiz__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }

        .quiz__text {
            padding: 3rem;
            width: 100%;
        }

        .media.quiz__text:before {
            content: "";
            position: absolute;
            display: block;
            background: #18151f;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        &:hover {
            .quiz__img {
                transform: scale(1.1);
            }
        }

        &:nth-child(2n+1) {
            flex-direction: row;

            .quiz__text::before {
                left: -12px !important;
                transform: rotate(4deg);
            }
        }

        &:nth-child(2n+0) {
            flex-direction: row-reverse;

            .quiz__text::before {
                right: -12px !important;
                transform: rotate(-4deg);
            }
        }
    }

    .red { @include transparent-color-responsive($transparent-red); }
    .green { @include transparent-color-responsive($transparent-green); }
    .blue { @include transparent-color-responsive($transparent-blue); }
    .yellow { @include transparent-color-responsive($transparent-yellow); }
}

@media screen and (min-width: 1024px) {
    .quiz {
        flex-wrap: inherit;
        max-width: 1100px;

        .quiz__text {
            padding: 2rem 3.5rem;
    
            &::before {
                content: "";
                position: absolute;
                display: block;
                top: -20%;
                height: 130%;
                width: 55px;
            }
        }

        &.dark {
            .quiz__text::before {
                background: #18151f;
            }
        }
    }
}