@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
	font-family: 'Itim', serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgb(240, 240, 240);
}

.top {
	position: absolute;
	margin: 0;
	padding: 8px;
	width: 100%;
	color: #fff;
	background-color: #0a0a23;
	border-bottom: 4px solid gold;
	z-index: 1000;
}

.top h1 {
	text-transform: uppercase;
	margin: 0;
	float: left;
}

.top nav {
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.hua {
	text-decoration: none;
	display: inline-block;
	position: relative;
	color: #fff;
}

.hua::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	background-color: #fff;
	transition: transform 0.25s;
}

.hua:hover::after {
	transform: scaleX(1);
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

main {
	padding-top: 60px;
}

#hero-title {
	text-align: center;
}

#hero-grid {
	margin: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 40px;
}

#hero-grid::after {
	content: '';
	width: 350px;
}

.card {
	flex: 0 0 350px;
	/* display: grid; */
	margin: 0;
	perspective: 150rem;
  	position: relative;
  	height: 450px;
  	max-width: 350px;
  	box-shadow: none;
  	background: none;
}

.card-side {
	height: 450px;
	border-radius: 15px;
	transition: all 0.8s ease;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem;
	color: black;
}

.card-side.front {
	background-color: #0093E9;
  	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-side.back {
	transform: rotateY(-180deg);
  	background-color: #4158D0;
  	background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
}

.card:hover .card-side.front {
	transform: rotateY(180deg);
}
  
.card:hover .card-side.back {
	transform: rotateY(0deg);
}

#account {
	display: none;
	border: 3px solid darkred;
	background: #FFCC70;
	margin: 40px;
	padding: 5px 5px 5px 70px;
	height: 450px;
}

#signinform, #signupform {
	display: inline-block;
	padding: 5px 5px 5px 70px;
	width: 350px;
	border: 1px solid black;
	background: white;
	vertical-align: middle;
	align-content: center;
}
  
#prompt-signinform-container, #prompt-signupform-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
}
  
#prompt-signinform-container:before, #prompt-signupform-container:before {
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}
  
#cover-div {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	width: 100%;
	height: 100%;
	background-color: rgb(78, 78, 78);
	opacity: 0.3;
}
  
#signinform input[name="text"] {
	display: block;
	margin: 5px;
	width: 180px;
}

.bottom {
	color: antiquewhite;
	text-align: center;
	background-color: #0a0a23;
	border-top: 4px solid gold;
	padding: 20px;
}
#links_f {
	display: flex;
	justify-content: space-around;
	margin: 10px auto 0;
	width: 50%;
}