@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
	font-family: 'Itim', serif;
	box-sizing: border-box;
}

body {
	margin: 0;
  	padding: 0;
  	width: 100%;
  	height: 100%;
}

.container {
	padding: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #0a0a23;
	border-bottom: 4px solid gold;
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 0 30px;
}

nav a {
	border: 2px solid yellow;
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	background-color: yellow;
	color: black;
}

#signinform, #signupform {
	display: inline-block;
	padding: 5px 5px 5px 70px;
	width: 350px;
	border: 1px solid black;
	background: white;
	vertical-align: middle;
	align-content: center;
}
  
#prompt-signinform-container, #prompt-signupform-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
}
  
#prompt-signinform-container:before, #prompt-signupform-container:before {
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}
  
#cover-div {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	width: 100%;
	height: 100%;
	background-color: rgb(78, 78, 78);
	opacity: 0.3;
}
  
#signinform input[name="text"] {
	display: block;
	margin: 5px;
	width: 180px;
}
